<div class="thumbnail_container">
    {{#each favoriteBands}}
        <div class="thumbnail_flip">
            <div class="thumbnail_flip_front" style="background-image:url({{this.thumbnail_url}})">
            <div class="thumbnail_favorited"><span class="mif-checkmark"></span></div>
            </div>
            <div class="thumbnail_flip_back">
                <p class="thumbnail-name">{{this.name}}</p>
                <p class="thumbnail-genre">Genre: {{this.genre}}</p>
                <p class="thumbnail-fans">Number of Fans: {{this.numFans}}</p>
                <div class="thumbnail-links">
                    <div class="thumbnail-chat" data-name="{{this.name}}"><span class="mif-bubbles"></span></div>
                    <div class="thumbnail-add favorited"><span data-name="{{this.name}}" class="mif-heart"></span></div>
                    <div class="thumbnail-discover"><span class="mif-headphones"></span></div>
                </div>
            </div>
        </div>
    {{/each}}    
</div>